@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap');
.container-show{
    border: 1px solid black;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    height: 30vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat( 2,1fr);
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    h1{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 6vh;
    }
    @media (max-width:850px) {
        h1{font-size: 6vw;}
        height: 40vw;
        margin-top: 20%;
    }
    .container-img{
        @media (max-width:850px) {
            height: 35vw;
        }
        width: 100%;
        height: 20vh;
        img{
            width: 100%;
            height: 100%;
            border-radius: 0px 20px 20px 0px;
        }
    }
  
}
